// Общие цвета
@red: #f25b26;
@green: #3fc746;
@gray: #f2f2f2;

// Цвета текста
@text-black: #000;
@text-white: #fff;
@text-dark: #283645;
@text-light: #8a8a8a;
@text-red: #d22856;

// Цвета фона
@bg-black: #000;
@bg-white: #fff;
@bg-download: #1d2631;
@bg-dark: #283645;
@bg-map: #8a8a8a;
@bg-gray: #f2f2f2;
@bg-hit: #d22856;

// Цвета элементов
@nav-border-top: #485461;
@nav-border-bottom: #000000;
@shadow-nav: #485461;
@form-red: #d22856;
@border-gray: #e5e5e5;
@toggle-gray: #bec2c7;
@rates-head: #283645;
@map-marker: #d22856;
@btn-green: #2aab6d;


// Фоны
@bg-app: "../img/bg-app.jpg";
@logo-top: "../img/logo-top.png";
@map: "../img/map.png";

// Декоративные изображения
@img-app: "../img/app-phone.png";
@img-features: "../img/features-phone.png";

// Иконки
@icon-apple: "../img/icon-apple.png";
@icon-android: "../img/icon-android.png";
@icon-microsoft: "../img/icon-microsoft.png";