/*~~~~~Раздел преимуществ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.features {
  background: @bg-gray;
  &__title {
    position: relative;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 35px;
    margin-bottom: 48px;
    background: @bg-white;
    & h2 {
      margin-bottom: 29px;
    }
    &::after {
      .slope(16px);
    }
  }
  &__caption {
    .title(14px, 24px, 400, center);
  }
  &__item {
    padding: 20px;
    padding-top: 0;
  }
  &__image {
    margin-top: 10px;
    height: 278px;
    background-color: @bg-gray;
    background-image: url(@img-features);
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
}