body {
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrap {
  position: relative;
  width: 320px;
  margin: 0 auto;
  outline: 1px solid black;
}

.page-title {
  padding: 20px;
  padding-top: 85px;
}

.overflow {
  overflow: hidden;
}

.slope {
  padding: 15px;
  margin-bottom: 15px;
  background-image: linear-gradient(to left top, #f2f2f2 50%, #fff 50%)
}



.check,
.cross {
  position: relative;
  float: right;
  font-size: 0;
}

.check {
  top: 8px;
  right: 40px;
  width: 18x;
  height: 18px;
}

.check::before {
  content: "";
  position: absolute;
  top: 0;
  left: 16px;
  width: 28px;
  height: 2px;
  background-color: green;
  transform: rotate(-45deg);
}

.check::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 17px;
  height: 2px;
  background-color: green;
  transform: rotate(45deg);
}

.cross {
  top: 8px;
  right: 40px;
  width: 18x;
  height: 18px;
}

.cross::before {
  content: "";
  position: absolute;
  left: 8px;
  width: 34px;
  height: 2px;
  background-color: red;
  transform: rotate(45deg);
}

.cross::after{
  content: "";
  position: absolute;
  left: 8px;
  width: 34px;
  height: 2px;
  background-color: red;
  transform: rotate(-45deg);
}