/*~~~~~Шапка: Мобильное меню~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main-nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  &__logo-wrap {
    background: rgba(0, 0, 0, .3);
  }
  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__logo-link {
    display: block;
    min-height: 66px;
    background-image: url(@logo-top);
    background-position: 20px 0;
    background-repeat: no-repeat;
    font-size: 0;
  }
  &__menu-link {
    display: block;
    padding: 15px;
    border-top: 1px solid @nav-border-top;
    border-bottom: 1px solid @nav-border-bottom;
    background: @bg-dark;
    color: @text-white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 20px;
    width: 50px;
    height: 66px;
    cursor: pointer;
    & span {
      position: relative;
      top: 31px;
      display: block;
      height: 4px;
      background-color: @bg-white;
      &::before {
        position: absolute;
        top: -10px;
        width: 100%;
        height: 4px;
        background-color:  @bg-white;
        content: '';
      }
      &::after {
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 4px;
        background-color:  @bg-white;
        content: '';
      }
    }
  }
}

.main-nav--open .main-nav__list {
  display: block;
}

.main-nav--open .main-nav__logo-wrap {
  min-height: 69px;
  border-bottom: 1px solid @nav-border-bottom;
  background: @bg-dark;
}

.main-nav--open .main-nav__icon {
  right: -3px;
  width: 30px;
}

.main-nav--open .main-nav__icon span {
  height: 3px;
  transform: rotate(45deg);
}

.main-nav--open .main-nav__icon span::after {
    top: 0;
    height: 3px;
}

.main-nav--open .main-nav__icon span::before {
    display: none;
}

.main-nav--open .main-nav__icon span::after {
    transform: rotate(90deg);
}