/*~~~~~Раздел тарифов~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.rates {
  background: @bg-gray;
  &__overflow {
    overflow: hidden;
    padding-top: 66px;
  }
  &__radio-button {
    display: none;
  }
  &__toggle {
    padding-top: 35px;
    padding-bottom: 43px;
    text-align: center;
    label {
      display: inline-block;
      margin: 0 4px;
      width: 6px;
      height: 6px;
      border: 3px solid @bg-gray;
      border-radius: 50%;
      background: @toggle-gray;
      cursor: pointer;
    }
  }
}

.rates-table {
  position: relative;
  width: 260%;
  border-collapse: collapse;
  text-transform: uppercase;
  &__headings {
    position: relative;
    overflow: hidden;
    padding-top: 16px;
    padding-left: 3px;
    padding-bottom: 11px;
    background: @bg-dark;
    box-shadow: inset 2px 0px 0px 0px @border-gray;
    color: @text-white;
  }
  &__headings--hit::after {
    position: absolute;
    top: 12px;
    left: -36px;
    width: 120px;
    background: @bg-hit;
    content: "Хит";
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    transform: rotate(-45deg);
  }
  &__name {
    margin-bottom: 2px;
    color: @text-white;
    .title(18px, 30px, 700, center, uppercase);
    margin-bottom: 2px;
    color: @text-white;
  }
  &__price {
    margin-bottom: 20px;
    color: @text-white;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
  }
  &__data {
    padding: 23px;
    padding-top: 15px;
    padding-bottom: 16px;
    background: @text-white;
    box-shadow: inset 2px -2px 0px 0px @border-gray;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
  }
}

#rate1:checked ~ .rates__toggle label[for="rate1"],
#rate2:checked ~ .rates__toggle label[for="rate2"],
#rate3:checked ~ .rates__toggle label[for="rate3"] {
  border: 3px solid @bg-dark;
  background: @bg-white;
}

#rate1:checked ~ .rates-table {
  left: 7.5%;
  transition: .7s;
}

#rate2:checked ~ .rates-table {
  left: -80%;
  transition: .7s;
}

#rate3:checked ~ .rates-table {
  left: -167.5%;
  transition: .7s;
}

.check,
.cross {
  position: relative;
  float: right;
  font-size: 0;
}
.check {
  top: 13px;
  right: 27px;
}
.check::before {
  position: absolute;
  top: -7px;
  left: 3px;
  width: 24px;
  height: 9px;
  border-bottom: 3px solid @green;
  border-left: 3px solid @green;
  content: "";
  transform: rotate(-45deg);
}
.cross {
  top: 13px;
  right: 27px;
}
.cross::before {
  position: absolute;
  width: 34px;
  height: 3px;
  background-color: @red;
  content: "";
  transform: rotate(45deg);
}
.cross::after {
  position: absolute;
  width: 34px;
  height: 3px;
  background-color: @red;
  content: "";
  transform: rotate(-45deg);
}