/*~~~~~Раздел отзывов~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.reviews {
  background: @bg-gray;
  text-align: center;
  &__radio-button {
    display: none;
  }
  &__wrapper {
    position: relative;
    height: 267px;
    background-color: @bg-white;
  }
  &__toggle {
    padding-top: 26px;
    padding-bottom: 34px;
    background: @bg-white;
    & label {
      display: inline-block;
      margin: 0 4px;
      width: 6px;
      height: 6px;
      border: 3px solid #fff;
      border-radius: 50%;
      background: #bec2c7;
      cursor: pointer;
    }
  }
}

.reviews-item {
  position: absolute;
  overflow: hidden;
  padding: 20px;
  padding-top: 42px;
  height: 205px;
  background: @bg-white;
  &__caption {
    color: @text-dark;
    font-size: 14px;
    line-height: 30px;
  }
}

.reviews-item--slide1,
.reviews-item--slide2,
.reviews-item--slide3 {
  opacity: 0;
  transition: .7;
}

#review1:checked~ .reviews__toggle label[for="review1"],
#review2:checked~ .reviews__toggle label[for="review2"],
#review3:checked~ .reviews__toggle label[for="review3"] {
  border: 3px solid #283645;
  background: #fff;
}

#review1:checked~ .reviews__wrapper .reviews-item--slide1,
#review2:checked~ .reviews__wrapper .reviews-item--slide2,
#review3:checked~ .reviews__wrapper .reviews-item--slide3 {
  opacity: 1;
  transition: all ease 1s;
}