.null-text {
  font-size: 0;
}


.title(@fs:14px, @lh:24px, @fw: 400, @align: left, @transform: none) {
  margin: 0;
  margin-bottom: 10px;
  color: @text-dark;
  
  font-size: @fs;
  line-height: @lh;
  font-weight: @fw;
  text-align: @align;
  text-transform: @transform;
  text-decoration: none;
}


p {
  .title();
}
h2 {
  .title(30px, 36px, 700, center);
}
h3 {
  .title(18px, 30px, 700, left, uppercase);
}


.slim-title {
  .title(24px, 29px, 300, center);
  &--white {
    color: @text-white;
  }
  &--red {
    color: @text-red;
  }
}


.fat-title {
  .title(18px, 27px, 700, center);
  &--black {
    color: @text-black;
  }
}
